<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Beranda</title>   
    <link rel="stylesheet" href="../styles/beranda.css">
    <link href="https://cdn.jsdelivr.net/npm/remixicon@4.5.0/fonts/remixicon.css" rel="stylesheet"/>
</head>
<body>
    <header>
        <nav>
            <div class="nav__menu">
                <div class="nav__menu-logo">
                    <img class="menu__logo-img" src="../public/Vector.png" alt="">
                    <h3 class="menu__logo-title">CHILL</h3>
                </div>
                <div class="nav__menu-link">
                    <span>Series</span>
                    <span>Film</span>
                    <span>Daftar Saya</span>
                </div>
            </div>
            <div class="nav__profile">
                <img src="../public/images/profile.png" alt="Profile">
                <i class="ri-arrow-down-s-line"></i>
                <ul class="dropdown__menu">
                    <li><i class="ri-user-line"></i> Profil Saya</li>
                    <li><i class="ri-star-line"></i> Ubah Premium</li>
                    <li><i class="ri-logout-box-line"></i> Keluar</li>
                </ul>
            </div>
        </nav>
    </header>
    <main>
        <section class="header__main">
            <img class="header__img" src="../public/images/main-bg.png" alt="main-icon">
            <div class="header__overlay"></div>
            <div class="section section__header">
                <h1>Duty After School</h1>
                <p class="text">Sebuah benda tak dikenal mengambil alih dunia. Dalam keputusasaan, Departemen Pertahanan mulai merekrut lebih banyak tentara, termasuk siswa sekolah menengah. Mereka pun segera menjadi pejuang garis depan dalam perang.</p>
                <div class="section__header-button">
                        <button class="button__play">Mulai</button>
                        <button class="button__more-info">
                            <i class="ri-information-line"></i>
                            Selengkapnya
                        </button>
                        <div class="section__header-more">
                            <span class="more__span-circle">18+</span>
                            <span class="more__span-circle"><i class="ri-volume-off-vibrate-fill"></i></span>
                        </div>
                </div>
            </div>
        </section>

        <!--  -->
        <section class="section section__continue">
            <h2>Melanjutkan Tonton Film</h2>
            <div class="movie__container">
                <div class="movie__landscape" style="background-image: url('../public/images/dontlookup.png');">
                    <button><i class="ri-arrow-left-line arrow__left"></i></button>
                    <div class="card__title">
                        <span class="card__title-text">Don't Look Up</span>
                        <span class="card__title-rating"><i class="ri-star-fill"></i> 4.5/5</span>
                    </div>
                </div>

                <div class="movie__landscape" style="background-image: url('../public/images/allofusaredead.png');">
                    <div class="card__title">
                        <span class="card__title-text">All of Us Are Dead</span>
                        <span class="card__title-rating"><i class="ri-star-fill"></i> 4.2/5</span>
                    </div>
                </div>
                
                <div class="movie__landscape" style="background-image: url('../public/images/bluelock.png');">
                    <div class="card__title">
                        <span class="card__title-text">Blue Lock</span>
                        <span class="card__title-rating"><i class="ri-star-fill"></i> 4.6/5</span>
                    </div>
                </div>
                
                <div class="movie__landscape" style="background-image: url('../public/images/amancalledotto.png');">
                    <button><i class="ri-arrow-right-line arrow__right"></i></button>
                    <div class="card__title">
                        <span class="card__title-text">A Man Called Otto</span>
                        <span class="card__title-rating"><i class="ri-star-fill"></i> 4.4/5</span>
                    </div>
                </div>
            </div>
        </section>

        <section class="section section__rating">
            <h2>Top Rating dan Film Hari ini</h2>
            <div class="continue__card">
                <div class="movie__potrait" style="background-image: url('../public/images/suzume.png');">
                    <button><i class="ri-arrow-left-line arrow__left"></i></button>
                    <div class="new__badge">Episode Baru</div>
                </div>
    
                <div class="movie__potrait" style="background-image: url('../public/images/jwd.png');">
                    
                </div>
                
                <div class="movie__potrait" style="background-image: url('../public/images/sonic2.png');">
                    
                </div>
                
                <div class="movie__potrait" style="background-image: url('../public/images/allouad.png');">
                    <div class="new__badge">Episode Baru</div>
                </div>
                
                <div class="movie__potrait" style="background-image: url('../public/images/bigh6.png');">
                    <button><i class="ri-arrow-right-line arrow__right"></i></button>
                </div>
            </div>
        </section>

        <section class="section section__tranding">
            <h2>Film Trending</h2>
            <div class="continue__card">
                <div class="movie__potrait" style="background-image: url('../public/images/ttw.png');">
                    <div class="top__badge">Top <br/> 10</div>
                    <button><i class="ri-arrow-left-line arrow__left"></i></button>
                </div>
    
                <div class="movie__potrait" style="background-image: url('../public/images/quantumania.png');">
                    <div class="top__badge">Top <br/> 10</div>
                </div>
                
                <div class="movie__potrait" style="background-image: url('../public/images/gotg3.png');">
                    <div class="top__badge">Top <br/> 10</div>
                </div>
                
                <div class="movie__potrait" style="background-image: url('../public/images/amco.png');">
                    <div class="top__badge">Top <br/> 10</div>
                </div>
                
                <div class="movie__potrait" style="background-image: url('../public/images/litlemermaid.png');">
                    <div class="top__badge">Top <br/> 10</div>
                    <button><i class="ri-arrow-right-line arrow__right"></i></button>
                </div>
            </div>
        </section>

        <section class="section section__release">
            <h2>Rilis Baru</h2>
            <div class="continue__card">
                <div class="movie__potrait" style="background-image: url('../public/images/litlemermaid.png');">
                    <div class="top__badge">Top <br/> 10</div>
                    <button><i class="ri-arrow-left-line arrow__left"></i></button>
                </div>
    
                <div class="movie__potrait" style="background-image: url('../public/images/dutyas.png');">
                    <div class="new__badge">Episode Baru</div>
                </div>
                
                <div class="movie__potrait" style="background-image: url('../public/images/bigh6.png');">
                    
                </div>
                
                <div class="movie__potrait" style="background-image: url('../public/images/allouad.png');">
                    <div class="new__badge">Episode Baru</div>
                </div>
                
                <div class="movie__potrait" style="background-image: url('../public/images/missing.png');">
                    <button><i class="ri-arrow-right-line arrow__right"></i></button>
                </div>
            </div>
        </section>
    </main>
    <footer>
        <div class="title">
            <div class="title__logo">
                <img class="menu__logo-img" src="../public/Vector.png" alt="">
                <h1>CHILL</h1>
            </div>
            <p>&copy; 2023 CHILL All Rights Reserved.</p>
        </div>
        <div class="genre__list">
            <div class="genre">
                <h3>Genre</h3>
                <ul>
                    <li>Aksi</li>
                    <li>Anak-anak</li>
                    <li>Anime</li>
                    <li>Britania</li>
                    <li>Drama</li>
                    <li>Fantasi Ilmiah & Fantasi</li>
                    <li>Kejahatan</li>
                    <li>KDrama</li>
                    <li>Komedi</li>
                    <li>Petualangan</li>
                    <li>Perang</li>
                    <li>Romantis</li>
                    <li>Sains & Alam</li>
                    <li>Thriller</li>
                </ul>
            </div>
            <i class="ri-arrow-right-s-line genre__arrow"></i>
        </div>
        <div class="bantuan__list">
            <div class="bantuan">
                <h3>Bantuan</h3>
                <ul>
                    <li>FAQ</li>
                    <li>Kontak Kami</li>
                    <li>Privasi</li>
                    <li>Syarat & Ketentuan</li>
                </ul>
            </div>
            <i class="ri-arrow-right-s-line bantuan__arrow"></i>
        </div>
    </footer>
</body>
</html>