<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Masuk</title>
    <link rel="stylesheet" href="../styles/login.css">
</head>
<body>
    <div class="login">
        <img src="../public/login-bg.jpeg" alt="login image" class="login__image">

        <form action="" class="login__form">
            <div class="login__logo">
                <svg class="login__logo-icon" xmlns="http://www.w3.org/2000/svg" id="Layer_1" data-name="Layer 1" viewBox="0 0 24 24">
                <path d="M13.848,8.297L19.111,.037c.795-.079,1.546,.148,2.137,.598l-4.266,6.843-3.134,.819Zm-2.846,.743L16.287,.747l-3.179,.862L7.824,9.87l3.178-.83Zm12.159-3.177l-.755-3.305-2.608,4.184,3.363-.879ZM2.355,4.523C.74,4.879-.285,6.482,.072,8.105l.417,1.826,3.793-5.93-1.927,.522Zm1.145,6.477l1.472-.385L10.235,2.387l-3.079,.835L2.181,11H1v13H24V11H3.5Z"/>
                </svg>
                <h1>CHILL</h1>
            </div>

            <div class="login__title">
                <h3>Masuk</h3>
                <p>Selamat datang kembali!</p>
            </div>

            <div class="login__content">
                <div class="login__box">
                    <i class="bx bx-lock-alt"></i>

                    <div class="login__box-input">
                        <label for="username" class="login__label">Username</label>
                        <input type="text" id="username" required class="login__input" placeholder="Masukkan username">
                    </div>
                </div>

                <div class="login__box">
                    <i class="login__icon"></i>

                    <div class="login__box-input">
                        <label for="password" class="login__label">Kata Sandi</label>
                        <div class="login__password-wrapper">
                            <input type="password" id="password" required class="login__input" placeholder="Masukkan kata sandi">
                            <svg id="togglePassword" class="login__eye" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path fill-rule="evenodd" clip-rule="evenodd" d="M16 16H13L10.8368 13.3376C9.96488 13.7682 8.99592 14 8 14C6.09909 14 4.29638 13.1557 3.07945 11.6953L0 8L3.07945 4.30466C3.14989 4.22013 3.22229 4.13767 3.29656 4.05731L0 0H3L16 16ZM5.35254 6.58774C5.12755 7.00862 5 7.48941 5 8C5 9.65685 6.34315 11 8 11C8.29178 11 8.57383 10.9583 8.84053 10.8807L5.35254 6.58774Z"/>
                                <path d="M16 8L14.2278 10.1266L7.63351 2.01048C7.75518 2.00351 7.87739 2 8 2C9.90091 2 11.7036 2.84434 12.9206 4.30466L16 8Z"/>
                            </svg>
                        </div>
                    </div>
                </div>
            </div>

            <div class="login__register">
                <div class="login__register-check">
                    <span class="login__register-text">Belum punya akun? <a href="#" class="login__register-link">Daftar</a></span>
                </div>

                <a href="#" class="login__forgot">Lupa kata sandi?</a>
            </div>

            <div class="login__submit">
                <button type="submit" class="login__submit-btn">Masuk</button>
                <p class="login__submit-separator">Atau</p>
                <button type="submit" class="login__submit-btn-google">
                    <img src="../public/google-icon.png" alt="google icon" class="google-icon">Masuk dengan Google
                </button>
            </div>
        </form>
    </div>

    <script>
        const togglePassword = document.getElementById('togglePassword');
        const passwordInput = document.getElementById('password');

        togglePassword.addEventListener('click', function () {
            const type = passwordInput.getAttribute('type') === 'password' ? 'text' : 'password';
            passwordInput.setAttribute('type', type);

            // Ganti ikon SVG berdasarkan tipe input
            togglePassword.innerHTML = type === 'text' ? `
                <path fill-rule="evenodd" clip-rule="evenodd" d="M0 8L3.07945 4.30466C4.29638 2.84434 6.09909 2 8 2C9.90091 2 11.7036 2.84434 12.9206 4.30466L16 8L12.9206 11.6953C11.7036 13.1557 9.90091 14 8 14C6.09909 14 4.29638 13.1557 3.07945 11.6953L0 8ZM8 11C9.65685 11 11 9.65685 11 8C11 6.34315 9.65685 5 8 5C6.34315 5 5 6.34315 5 8C5 9.65685 6.34315 11 8 11Z"/>
            ` : `
                <path fill-rule="evenodd" clip-rule="evenodd" d="M16 16H13L10.8368 13.3376C9.96488 13.7682 8.99592 14 8 14C6.09909 14 4.29638 13.1557 3.07945 11.6953L0 8L3.07945 4.30466C3.14989 4.22013 3.22229 4.13767 3.29656 4.05731L0 0H3L16 16ZM5.35254 6.58774C5.12755 7.00862 5 7.48941 5 8C5 9.65685 6.34315 11 8 11C8.29178 11 8.57383 10.9583 8.84053 10.8807L5.35254 6.58774Z"/>
                <path d="M16 8L14.2278 10.1266L7.63351 2.01048C7.75518 2.00351 7.87739 2 8 2C9.90091 2 11.7036 2.84434 12.9206 4.30466L16 8Z"/>
            `;
        });
    </script>
</body>
</html>
