<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Daftar</title>
    <link rel="stylesheet" href="../styles/register.css">
</head>
<body>
    <div class="register">
        <img src="../public/register-bg.jpeg" alt="register image" class="register__image">
    </div>

    <form action="" class="register__form">
        <div class="register__logo">
            <img src="" alt="">
            <h1>CHILL</h1>
        </div>

        <div class="register__title">
            <h3>Daftar</h3>
            <p>Selamat datang kembali!</p>
        </div>
    </form>
</body>
</html>